html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    background: -webkit-linear-gradient(top left, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background: -o-linear-gradient(top left, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background: linear-gradient(to bottom right, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 50s ease infinite;
    -moz-animation: Gradient 50s ease infinite;
    -o-animation: Gradient 50s ease infinite;
    animation: Gradient 50s ease infinite;    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.unmatched {
    background: red;
    cursor: default;
}

.deck .card.disabled {
    pointer-events: none;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    font-size: 1em;

}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/* 
* Timer layout
*/
.timer {
    display: inline-block;
    margin: 2px;
  padding-left: 20px;
}

/* Styles for congratulations modal when game is completed*/
.message {
    position: fixed;
    background: rgba(0, 75, 255, 0.4);
    transition: opacity 400ms;
    visibility: hidden;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.showup {
    margin: 72px auto;
    padding: 21px;
    background: #ff69b4;
    border-radius: 6px;
    width: 88%;
    position: relative;
    font-family: 'Fascinate Inline', serif;
}

.showup h2 {
    font-family: 'Fascinate Inline', serif;
}

.showup .close {
    position: absolute;
    top: 21px;
    right: 32px;
    transition: all 200ms;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.showup .congratulation, .stats {
    max-height: 50%;
    overflow: auto;
    text-align: center;
}

.show {
    visibility: visible;
    opacity: 100;
}

.message h2 {
  text-align: center;
  font-family: 'Helvetica ', serif;
}

header h1{
  font-family: 'Helvetica ', serif;
}

#star-rating li {
    display: inline-block;
}

#play-again {
    font-family: 'Helvetica', serif;
    border-radius: 5px;
    background-color:#96beff;
    color: #ffffff;
    padding: 10px;
    font-size: 30px;
    display: block;
    margin: auto;
    width: auto;
}

/*
 * Background color animations
 */

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

