html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: -webkit-linear-gradient(135deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background: -o-linear-gradient(135deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 50s ease infinite;
    -moz-animation: Gradient 50s ease infinite;
    -o-animation: Gradient 50s ease infinite;
    animation: Gradient 50s ease infinite;
    font-family: 'Coda', cursive;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 100%;
}
.game-header {
    font-weight: 500;
}

.text-center {
  text-align: center;
}

.text-left {
    text-align: left;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


#timer {
    text-align: center;
}

#restart {
    text-align: center;
    cursor: pointer;
}

#restart i {
    padding-left: 5px;
}

#score {
    display: inherit;
    text-align: center;
}

.stars {
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.star {
    list-style-type: none;
    display: inline-block;
    color: #ffcd00;
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


/*
 * Backgroudn color animations
 */

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-webkit-keyframes BounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
    }
}

@-moz-keyframes BounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -moz-transform: scale3d(.3, .3, .3);
    }
    20% {
        -moz-transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -moz-transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -moz-transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -moz-transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        -moz-transform: scale3d(1, 1, 1);
    }
}

@-o-keyframes BounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -o-transform: scale3d(.3, .3, .3);
    }
    20% {
        -o-transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -o-transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -o-transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -o-transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        -o-transform: scale3d(1, 1, 1);
    }
}

@keyframes BounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes ModalOpen {
    from{
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-moz-keyframes ModalOpen {
    from{
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-o-keyframes ModalOpen {
    from{
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes ModalOpen {
    from{
        opacity: 0
    }
    to {
        opacity: 1
    }
}